<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    {% if page.layout != 'frontpage' %}
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            {% if page.layout != 'post' -%}
              {{ site.description }}
            {% endif -%}
          {% if page.author -%}
            <li class="p-name">Author: {{ page.author | escape }}
                {% if page.translator -%}
                • Translator: {{ page.translator | escape }}
                {% endif -%}
            </li>
          {% endif -%}
          {% if page.translator -%}
            <li class="p-name">Translator: {{ page.translator | escape }}</li>
          {% endif -%}

          <a href="/impressum" style="color:#CCCCCC;" class="imprint">
            <p>{{ site.data.translations['imprint'][page.lang] }}</p>
          </a>
        </ul>
      </div>
      <div class="footer-col , centered-text">
          <div class="social-links">
            {%- include social.html -%}
          </div>
      </div>
      <div class="footer-col , right-bound-text">
            {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% if posts.size == 0 %}
                {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% endif %}
            {% if posts.size > 1 %}
            <footer class="lang-options">
                <em>Languages:</em>
                <ul>
                {% for post in posts %}
                <a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{post.lang}}">{{ site.data.languages[post.lang].label }}</a>
                {% endfor %}
                </ul>
            </footer>
            {% endif %}
        </div>
    </div>
    {% endif %}
  </div>

  {%- if page.layout == 'frontpage' %}
  <div style="text-align:center;">
      <a href="/impressum" style="color:#CCCCCC;" class="imprint">
        Imprint
      </a>
  </div>
  {% endif %}

</footer>
