// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.centered-text {
    text-align: center;
}

.right-bound-text {
    text-align: right;
}

.Imprint {
    margin-bottom: $spacing-unit / 10;
}

.imprint:hover {
    text-decoration: none;
}
